.example-card{
  min-width:250px;
}

.image {
  height: 250px; /* adjust as needed */
  object-fit: contain;
}


mat-card {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

