<div class="container" id="home">
  <div
    class="flex-container"
    fxLayout="column"
    fxLayoutAlign="space-evenly stretch"
  >
    <div class="full-screen">
      <section class="hero">
        <div id="motto" class="motto">
          Software Engineering Solutions...
          <!-- <mat-icon class="dark-icon icon-space">construction</mat-icon> -->
        </div>
        <div class="hero-inner">
          <h1>I'm Steve Warren, welcome to my site!</h1>
          <hr />
          <div class="user one">
          </div>
          <p>
            I am a developer from West Babylon New York
          </p>
          <span class="empty-spacer"></span>
        </div>
      </section>
    </div>
  </div>
</div>
