<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{ cardModel.title }}
      <button
        mat-icon-button
        class="more-button"
        [matMenuTriggerFor]="menu"
        aria-label="Toggle menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="viewerOpen = true">Expand</button>
        <!-- TODO: style this right -->
        <app-share-button [url]="cardModel.shareUrl || ''"> </app-share-button>
      </mat-menu>
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
      {{cardModel.subTitle}}
    </mat-card-subtitle>
  </mat-card-header>
  <app-image-viewer
    [description]="cardModel.description"
    [imageURL]="cardModel.url"
    [open]="viewerOpen"
    (close)="viewerOpen = false"
  >
  </app-image-viewer>

    <img *ngIf="cardModel.type === 'image'"
      class="image"
      mat-card-image
      src="{{ cardModel.url }}"
      alt="Error Photo"
      (click)="viewerOpen = true"
    />
</mat-card>
