.center {
  position: fixed;
  display: block;
  margin: auto;
  bottom: 20px;
  right:20%;
  left: 20%;
  width: 20%;
}

.center .btn {
  width: 100%;
  color: white;
  font-weight: bold;
  border-radius: 64px;
  padding: 10px;
}
